*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{
    height: 100vh;
    background-image: url(../img/wall.jpeg);
    background-size: cover;
    background-position: center;
    article{
        width:50%;
        margin: auto;
        h1{
            color: white;
            text-align: center;
            font-size: 3rem;
            margin: 0 0 5vh;
        }
        p{
            background-color: red;
            margin: 5vh 0;
        }
        h2{
            color: blue;
            text-align: center;
            margin-bottom: 0;
            font-size:1.3rem
        }
        img{
            width: 80%;
            display: block;
            margin: auto;
            height:500px;
            object-fit: cover;
        }
    }
}