body>h2 {
    text-align: center;
}

section h2,
article p:nth-of-type(2),
article+p {
    color: red;
}

section>h2:last-of-type {
    color: green
}

div p,
article p:first-of-type {
    color: blue;
}

article+p {
    font-weight: bold;
}

p>span:first-of-type:hover{
    color:blue;
}