// Variables SCSS

$f1-h2-color: red;
$f1-h2-size: 2rem;
$f1-p-color: red;
$f1-p-size: 1.4rem;
$f1-p-weight: bold;

$f2-bg: rgb(7, 7, 135);
$f2-padding: 20px;
$f2-margin: 50px 0;
$f2-h2-color: rgb(167, 146, 146);
$f2-h2-size: 1.1rem;
$f2-h2-style: italic;
$f2-p-color: rgb(167, 146, 146);
$f2-p-size: 1rem;
$f2-p-style: italic;

$body-bg: #c5c5c5;
$main-width: 80%;
$main-margin: auto;
$main-h1-size: 3rem;
